$primary-color: #0cf3c0;
$secondary-color: #1ee148;
$primary-padding: 1rem;
$primary-margin: 1rem;

body {
  font-family: "Times New Roman", Times, serif;
}

.todo-form {
  .todo-title {
    display: flex;
    flex-direction: column;
    label {
      font-size: 1em;
      font-weight: bold;
    }
    input {
      width: 20rem;
    }
  }
}

.create-todo,
.todo-list {
  width: 100%;
  padding: $primary-padding;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
  li {
    display: flex;
    justify-content: space-between;
    border: 1px solid $primary-color;
    padding: $primary-padding;
    font-size: 1.5rem;
    background-color: $primary-color;
    margin: $primary-margin;
    div {
      display: flex;
      flex-direction: row;
      .display-todo {
        display: flex;
        flex-direction: column;
        padding-left: $primary-padding;
      }
      .delete-icon {
        padding-left: $primary-padding;
      }
    }
  }
}
.todo-form {
  display: flex;
  flex-direction: column;
  label {
    padding-left: $primary-padding;
  }
  input {
    padding: $primary-padding;
    margin: $primary-margin;
    border: 1px solid $primary-color;
    border-radius: 999px;
    outline-color: $secondary-color;
    max-width: 35rem;
  }
  button {
    padding: $primary-padding;
    margin: $primary-margin;
    background-color: $primary-color;
    border: $primary-color;
    font-size: large;
    border-radius: 999px;
    max-width: 35rem;
    &:hover {
      background: $secondary-color;
    }
  }
}
