$primary-color: #0cb2f3;

header {
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;

  nav {
    ul {
      list-style: none;
      padding: 0;
      display: flex;

      li {
        padding: 1rem;
        font-size: 2rem;

        a {
          text-decoration: none;
          color: white;

          &.active {
            font-weight: bold;
            color: black;
          }
        }
      }
    }
  }
}
