$primary-color: #5e6f79;
$secondary-color: #505d65;
$delete-btn-primary-color: #d40e0efa;
$delete-btn-secondary-color: #c30b0bfa;
$text-color: white;
$primary-padding: 1rem;
$primary-margin: 1rem;
$list-background-color: rgb(247, 242, 242);
* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
}

.create-todo {
  padding: $primary-padding;
  margin: $primary-margin;
}
.todo-form {
  display: flex;
  justify-content: center;
  div {
    display: flex;
    flex-direction: column;
    width: 50rem;
    margin: $primary-margin;
    label {
      padding-left: $primary-padding;
    }
    input {
      padding: $primary-padding;
      margin: $primary-margin;
      border: 1px solid $primary-color;
      border-radius: 6px;
      outline-color: $secondary-color;
    }
    button {
      padding: $primary-padding;
      margin: $primary-margin;
      background-color: $primary-color;
      color: $text-color;
      font-size: large;
      border-radius: 6px;
      &:hover {
        background: $secondary-color;
      }
    }
  }
}
.todo-list-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  .todos-list {
    display: flex;
    flex-direction: column;
    width: 50rem;
    margin: $primary-margin;
    h1 {
      margin-bottom: $primary-margin;
    }
    .filter-btn {
      button {
        background-color: $primary-color !important;
      }
      button:hover {
        background-color: $secondary-color !important;
      }
    }

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
    }
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $primary-color;
      padding: $primary-padding;
      font-size: 1.5rem;
      background-color: $list-background-color;
      margin-bottom: $primary-margin;
      border-radius: 6px;
      div {
        display: flex;
        flex-direction: row;
        .display-todo {
          display: flex;
          flex-direction: column;
          padding-left: $primary-padding;
        }
        .delete-icon {
          padding-left: $primary-padding;
          color: red;
        }
      }
    }
    div {
      display: flex;
      justify-content: space-between;

      button {
        background-color: $delete-btn-primary-color;
        color: white;
        border-radius: 6px;
        margin: 1rem 0;
        padding: 0.5rem;
        width: 12rem;
        cursor: pointer;
        &:hover {
          background: $delete-btn-secondary-color;
        }
      }
    }
  }
}
