$primary-color: #01f5fe;
$secondary-color: #1fd8e0;
$primary-padding: 1rem;
$primary-margin: 1rem;
* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  background: url("../assets/background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.create-todo {
  padding: $primary-padding;
  margin: $primary-margin;
}
.todo-form {
  display: flex;
  justify-content: center;
  div {
    display: flex;
    flex-direction: column;
    width: 50rem;
    margin: $primary-margin;
    label {
      padding-left: $primary-padding;
    }
    input {
      padding: $primary-padding;
      margin: $primary-margin;
      border: 1px solid $primary-color;
      border-radius: 999px;
      outline-color: $secondary-color;
    }
    button {
      padding: $primary-padding;
      margin: $primary-margin;
      background-color: $primary-color;
      border: $primary-color;
      font-size: large;
      border-radius: 999px;
      &:hover {
        background: $secondary-color;
      }
    }
  }
}
.todo-list {
  display: flex;
  justify-content: center;
  padding: $primary-padding;
  margin: $primary-margin;
  .todos-list {
    display: flex;
    flex-direction: column;
    width: 50rem;
    h1 {
      margin-bottom: $primary-margin;
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
    }
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $primary-color;
      padding: $primary-padding;
      font-size: 1.5rem;
      background-color: $primary-color;
      margin-bottom: $primary-margin;
      div {
        display: flex;
        flex-direction: row;
        .display-todo {
          display: flex;
          flex-direction: column;
          padding-left: $primary-padding;
        }
        .delete-icon {
          padding-left: $primary-padding;
        }
      }
    }
    div {
      display: flex;
      justify-content: space-evenly;
      button {
        background-color: $primary-color;
        border: 0;
        border-radius: 999px;
        margin: $primary-margin;
        padding: 0.5rem;
        width: 10rem;
        &:hover {
          background: $secondary-color;
        }
      }
    }
  }
}
